%h2 アカウントを作ってね
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :ニックネームを決めてね
    %br/
    = f.email_field :username, autofocus: true, autocomplete: "email"
  .field
    = f.label :パスワードを6文字以上で入力してね
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :もう１回同じパスワードを入力してね
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit "とうろく"
= render "users/shared/links"
