.user-main 
  %h2 アカウントを作ってね
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .nickname
      = f.label :ニックネームを決めてね
      %br/
      = f.text_field :username, autofocus: true, autocomplete: "username"
    .password
      = f.label :パスワードを6文字以上で入力してね
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "new-password"
    .password
      = f.label :もう１回同じパスワードを入力してね
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .user-submit
      = f.submit "とうろく",class:"user-submit__btn"
= link_to "ログイン", new_user_session_path 

